# from my.telegram.org/apps
API_ID=
API_HASH=

# from @BotFather on telegram
BOT_TOKEN=
LOGGER_ID=

# mongo url from cloud.mongodb.com
MONGO_URL=

OWNER_ID=

# pyrogram session from @StringFatherBot on telegram
SESSION=
# Bot name to display in messages
BOT_NAME=˹SPOTIFY MUSIC˼♪

# YouTube API Music SaaS configuration (Lily API)
LILY_API_URL=https://youtube-api-saas-backend.onrender.com
LILY_API_KEY=
